


<div class="large-3 large-centered columns">
    <div class="login-box">
        <div class="row">
            <div class="large-12 columns">
                <form>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="text" name="username" placeholder="Username" ng-model="username"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="password" name="password" placeholder="Password" ng-model="password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 large-centered columns">
                            <button ng-click="login();" class="button">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
